
#card-element,
input:not([type=radio]):not([type=checkbox]),
select,
textarea {
  outline: none;
  transition: border-color 0.15s ease-in;
  @apply p-2 border border-grey w-full appearance-none rounded-none bg-white;
}

#card-element:hover,
input:not([type=radio]):not([type=checkbox]):hover,
select:hover,
textarea:hover {
  @apply border-black;
}

#card-element:focus,
#card-element:active,
input:not([type=radio]):not([type=checkbox]):focus,
input:not([type=radio]):not([type=checkbox]):active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  @apply border-blue;
}

.form-label {
  @apply mb-1 mt-4 inline-block text-sm font-bold;
}

.form-label:first-of-type {
  @apply mt-0;
}

.checkbox-label,
.radio-label {
    @apply text-sm;
}

.has-error #card-element,
.has-error input:not([type=radio]):not([type=checkbox]),
.has-error select,
.has-error textarea {
  @apply border-red
}