
input:not([type=radio]):not([type=checkbox]),
select,
textarea {
  outline: none;
  transition: border-color 0.15s ease-in;
  @apply p-2 border border-grey w-full appearance-none rounded-none bg-white;
}

input:not([type=radio]):not([type=checkbox]):hover,
select:hover,
textarea:hover {
  @apply border-black;
}

input:not([type=radio]):not([type=checkbox]):focus,
input:not([type=radio]):not([type=checkbox]):active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  @apply border-blue;
}

label.form-label {
  @apply mb-1 mt-4 block text-sm font-bold;
}

label.form-label:first-of-type {
  @apply mt-0;
}

label.checkbox-label,
label.radio-label {
    @apply text-sm;
}

.has-error input,
.has-error select,
.has-error textarea {
  @apply border-red
}